<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Swimlane Organizational Lists.</h1>
    <h1>Made Easy.</h1>
    <p class="lead">Make a scrum board.  Track your module statuses.  It's up to you.  Create a list and start organizing.</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Recent Lists</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="list in lists">
        <li ng-if="list.listTitle && list.listId"><a ui-sref="list({id: list.listId})">{{list.listTitle}}</a></li>
      </ul>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
